
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/Profesor">Inicio</a></li>
                <li>@Html.ActionLink("Preguntas", "AdminPreguntas", "Profesor")</li>
                <li>@Html.ActionLink("Crear Pregunta", "CrearPregunta", "Profesor")</li>
                <li>@Html.ActionLink("Acerca de", "AcercaDe", "Profesor")</li>
            </ul>
            <div class="info-container">
                <span class="menu-user">@Session["UserName"] <i>(Profesor)</i></span>
                @Html.ActionLink("Cerrar sesion", "Logout", "Home", new { @class = "btn btn-danger menu-button", role = "button" })
            </div>
        </div>
    </div>
</div>