@model IList<SubeCalificaciones.RespuestaAlumno>
@{
    ViewBag.Title = "Profesor Evaluar Respuestas";
    Layout = "~/Views/Shared/Profesor/_ProfesorLayout.cshtml";
    bool PrimerNoEvaluada = false;
}

<h2>Respuestas</h2>
<p>@ViewBag.Pregunta.Clase.Nombre - @ViewBag.Pregunta.Tema.Nombre</p>
<h2>@ViewBag.Pregunta.Nro. @ViewBag.Pregunta.Pregunta1</h2>
<h4>(@ViewBag.Pregunta.FechaDisponibleDesde.ToString("MM/dd/yyyy") - @ViewBag.Pregunta.FechaDisponibleHasta.ToString("MM/dd/yyyy"))</h4>
<br />

<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Todas", "EvaluarRespuestas", "Profesor", new { idPregunta = ViewBag.Pregunta.IdPregunta, filtro = -1 }, null)</li>
    <li>@Html.ActionLink("Sin Corregir", "EvaluarRespuestas", "Profesor", new { idPregunta = ViewBag.Pregunta.IdPregunta, filtro = 0 }, null)</li>
    <li>@Html.ActionLink("Correctas", "EvaluarRespuestas", "Profesor", new { idPregunta = ViewBag.Pregunta.IdPregunta, filtro = 1 }, null)</li>
    <li>@Html.ActionLink("Regular", "EvaluarRespuestas", "Profesor", new { idPregunta = ViewBag.Pregunta.IdPregunta, filtro = 2 }, null)</li>
    <li>@Html.ActionLink("Mal", "EvaluarRespuestas", "Profesor", new { idPregunta = ViewBag.Pregunta.IdPregunta, filtro = 3 }, null)</li>
</ul>

<table class="table table-striped table-hover">
    <tbody>
        @foreach (var respuesta in Model)
        {
        <tr>
            <td>
                <p>@respuesta.FechaHoraRespuesta</p>@respuesta.Alumno.Nombre @respuesta.Alumno.Apellido
            </td>
            <td>@respuesta.Respuesta</td>
            @if (respuesta.ResultadoEvaluacion != null)
            {
                <td>@respuesta.ResultadoEvaluacion.Resultado</td>
            }
            else
            {
                if (!PrimerNoEvaluada)
                {
                    <td>
                        @Html.ActionLink("Correcta", "CorregirRespuesta", "Profesor", new { idRespuesta = respuesta.IdRespuestaAlumno, resultadoEvaluacion = 1 }, null)
                        @Html.ActionLink("Regular", "CorregirRespuesta", "Profesor", new { idRespuesta = respuesta.IdRespuestaAlumno, resultadoEvaluacion = 2 }, null)
                        @Html.ActionLink("Mal", "CorregirRespuesta", "Profesor", new { idRespuesta = respuesta.IdRespuestaAlumno, resultadoEvaluacion = 3 }, null)
                    </td>
                    PrimerNoEvaluada = true;
                }
                else
                {
                    <td>
                        Sin corregir
                    </td>
                }
            }
            @if (ViewBag.PuedeElegirMejorRespuesta == true && respuesta.ResultadoEvaluacion.IdResultadoEvaluacion == 1)
            {
                <td>@Html.ActionLink("Elegir Mejor Respuesta", "ElegirMejorRespuesta", "Profesor", new { idRespuesta = respuesta.IdRespuestaAlumno }, null)</td>
            }
            else if (respuesta.MejorRespuesta)
            {
                <td>MEJOR RESPUESTA</td>
            }
            else
            {
                <td></td>
            }
        </tr>
        }
    </tbody>
</table>