@model SubeCalificaciones.Models.Pregunta
@{
    ViewBag.Title = "ModificarPregunta";
    Layout = "~/Views/Shared/_ProfesorLayout.cshtml";
}
<div class="contenedor_formulario">
    <div class="titulo_formulario">
        <h2>Modificar Pregunta</h2>
    </div>
    @Html.Raw(@ViewBag.msjTieneRespuesta)
    <form role="form" method="post" action="ModificarPregunta" class="contenedor_formulario">

        @Html.ValidationSummary(true, " ", new { @class = "text-danger" })

        @Html.HiddenFor(m => m.IdProfesorModificacion, new { Value = @Session["UserSession"] })
        @Html.HiddenFor(m => m.IdPregunta)
        <!--Nro presunta-->
        <div class="form-group">
            <label>Nro(*):</label>
            @Html.TextBoxFor(m => m.Nro, new { @class = "form-control", placeholder = "Ingrese nro", @type = "number", @min = ViewBag.nro })
            @Html.ValidationMessageFor(m => m.Nro, "", new { @class = "text-danger" })

        </div>
        <div class="row">
            <!--Clase-->
            <div class="form-group col-md-6">
                <label>Clase(*):</label>
                @Html.DropDownListFor(m => m.IdClase, new SelectList(@ViewBag.clases, "IdClase", "Nombre"), "Selecciones Clase ", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.IdClase, "", new { @class = "text-danger" })
            </div>
            <!--Tema-->
            <div class="form-group col-md-6">

                <label>Tema(*):</label>
                @Html.DropDownListFor(m => m.IdTema, new SelectList(@ViewBag.temas, "IdTema", "Nombre"), "Seleccione Tema ", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.IdTema, "", new { @class = "text-danger" })

            </div>
        </div>
        <!-- FECHAS  -->
        <div class="row">
            <!--Fecha de Inicio-->
            <div class="form-group col-md-6">
                <label>Disponible Desde:</label>
                @Html.TextBoxFor(model => model.FechaDisponibleDesde, new { @type = "datetime", @class = "form-control", @Value = Model.FechaDisponibleDesde })
                @Html.ValidationMessageFor(m => m.FechaDisponibleDesde, "", new { @class = "text-danger" })
            </div>
            <!--Fecha de fin-->
            <div class="form-group col-md-6">
                <label>Hasta:</label>
                @Html.TextBoxFor(m => m.FechaDisponibleHasta, new { @type = "datetime", @class = "form-control", @Value = Model.FechaDisponibleHasta })
                @Html.ValidationMessageFor(m => m.FechaDisponibleHasta, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--Pregunta-->
        <div class="form-group">
            <label>Pregunta(*):</label>
            @Html.TextAreaFor(m => m.Pregunta1, new { @class = "form-control", placeholder = "Ingrese la pregunta" })
            @Html.ValidationMessageFor(m => m.Pregunta1, "", new { @class = "text-danger" })

        </div>
        <div class="row text-center">
            <input type="submit" class="btn btn-lg btn-primary" value="Guardar">
            <a href="/Profesor/AdminPreguntas">
                <input type="button" value="Cancelar" class="btn btn-secondary btn-lg" />
            </a>
        </div>
    </form>
</div>
