<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/datepicker.css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("AnonimoStyles", required: false)
    @RenderSection("AlumnoStyles", required: false)
    @RenderSection("ProfesorStyles", required: false)
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    @Html.Partial("_PartialFooterPage")

    @*Scripts*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
</body>
</html>
