
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/Alumno">Inicio</a></li>
                @*<li>@Html.ActionLink("Inicio", "Inicio", "Alumno")</li>*@
                <li>@Html.ActionLink("Preguntas", "Preguntas", "Alumno")</li>
                <li>@Html.ActionLink("Acerca de", "AcercaDe", "Alumno")</li>
            </ul>
            <div class="info-container">
                <span class="menu-user">@Session["AlumnoName"].ToString() <i>(Alumno)</i></span>
                @Html.ActionLink("Cerrar sesion", "Logout", "Alumno", new { @class = "btn btn-danger menu-button", role = "button" })
            </div>
        </div>
    </div>
</div>