@model IList<SubeCalificaciones.Models.PreguntaAlumno>

@{
                /**/

                ViewBag.Title = "Preguntas";
                Layout = "~/Views/Shared/Alumno/_AlumnoLayout.cshtml";
}

<h2>Preguntas</h2>

<p class="lead">Recuerda que cuanto antes respondas correctamente, más chances tienes de sumar un mejor puntaje, y si tu respuesta es la más completa, recibirás un puntaje bonus!</p>

<p>
    <a href="/Alumno/Preguntas/Todas" class="btn btn-xs btn-link">Todas</a>
    <a href="/Alumno/Preguntas/SinCorregir" class="btn btn-xs btn-link">Sin Corregir</a>
    <a href="/Alumno/Preguntas/Correctas" class="btn btn-xs btn-link">Correctas</a>
    <a href="/Alumno/Preguntas/Regular" class="btn btn-xs btn-link">Regular</a>
    <a href="/Alumno/Preguntas/Mal" class="btn btn-xs btn-link">Mal</a>
</p>


@foreach (var pregunta in Model)
{
<div class="panel panel-default">
    <div class="panel-heading">
        @pregunta.Clase.Nombre - @pregunta.Tema.Nombre Hasta @pregunta.FechaDisponibleHasta
    </div>
    <div class="panel-body">
        @pregunta.Nro. @pregunta.Pregunta1 <a href="/Alumno/VerRespuesta" class="btn btn-xs btn-link">Ver</a>
    </div>
</div>
}