@model SubeCalificaciones.Models.RespuestaAlumno

@{
    ViewBag.Title = "ResponderPregunta";
    Layout = "~/Views/Shared/_AlumnoLayout.cshtml";
}

<h2>Responder Pregunta</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        @ViewBag.PreguntaAResponder.Clase.Nombre - @ViewBag.PreguntaAResponder.Tema.Nombre
    </div>
    <div class="panel-body">
        <p>@ViewBag.PreguntaAResponder.Nro. @ViewBag.PreguntaAResponder.Pregunta1</p>
        <p>Se puede responder hasta: @ViewBag.PreguntaAResponder.FechaDisponibleHasta</p>
        <form action="/Alumno/ResponderPregunta/@ViewBag.PreguntaAResponder.IdPregunta" method="post">
            <textarea id="textarea" class="form-control" rows="5" placeholder="Ingrese su respuesta aqui..." name="Respuesta" required="required"></textarea>
            @Html.ValidationMessageFor(rp => rp.Respuesta, "", new { @class = "text-danger" })
            <br /><br />
            <input type="submit" value="Enviar Respuesta" class="btn btn-success" />

            <a href="/Alumno/Preguntas" class="btn btn-primary" role="button">Volver</a>
        </form>
    </div>
</div>