@model SubeCalificaciones.Models.PreguntaAlumno

@{
    ViewBag.Title = "VerRespuesta";
    Layout = "~/Views/Shared/_AlumnoLayout.cshtml";
}

<h2>Ver Respuesta</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        @Model.Clase.Nombre - @Model.Tema.Nombre
    </div>
    <div class="panel-body">
        <p>@Model.Nro. @Model.Pregunta1</p>
        @if (Model.IdResultadoEvaluacion == null || Model.IdResultadoEvaluacion == 0)
        {
            if (Model.Respuesta != null)
            {
                <strong>Corrección Pendiente</strong>
                <textarea id="textarea" class="form-control" rows="5" disabled>@Model.Respuesta</textarea>
            }
            else
            {
                if (Model.CurrentDate > Convert.ToDateTime(Model.FechaDisponibleHasta))
                {
                    <p>Plazo vencido @Model.FechaDisponibleDesde - @Model.FechaDisponibleHasta</p>
                }
                else
                {
                    <span>Disponible hasta @Model.FechaDisponibleHasta.</span> <a href="/Alumno/ResponderPregunta/@Model.IdPregunta" class="btn btn-xs btn-link">Responder</a>
                }
            }
        }
        else if (Model.IdResultadoEvaluacion > 0)
        {
            <p class="pregunta-@Model.ResultadoEvaluacion.Resultado.ToLower()">@Model.ResultadoEvaluacion.Resultado @(Model.ResultadoEvaluacion.Resultado != "Mal" ? "| " + Model.Orden + "° | " + Model.Puntos : "") @(Model.MejorRespuesta ? "| ¡Mejor respuesta!" : "")</p>
            <textarea id="textarea" class="form-control" rows="5" disabled>@Model.Respuesta</textarea>
        }
        <a href="/Alumno/Preguntas" class="btn btn-primary" role="button">Volver</a>
    </div>
</div>