@model SubeCalificaciones.Models.PreguntaAlumno

@{
    ViewBag.Title = "VerRespuesta";
    Layout = "~/Views/Shared/Alumno/_AlumnoLayout.cshtml";
}

<h2>Ver Respuesta</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        @Model.Clase.Nombre - @Model.Tema.Nombre
    </div>
    <div class="panel-body">
        <p>@Model.Nro. @Model.Pregunta1</p>
        <p class="@Model.ResultadoEvaluacion.Resultado">@Model.ResultadoEvaluacion.Resultado | @Model.Puntos | @Model.MejorRespuesta</p>
        <textarea id="textarea" class="form-control" disabled>@Model.Respuesta</textarea>
        <a href="/Alumno/Preguntas" class="btn btn-primary" role="button">Volver</a>
    </div>
</div>