@model SubeCalificaciones.Models.PreguntaAlumno

@{
    ViewBag.Title = "VerRespuesta";
    Layout = "~/Views/Shared/Alumno/_AlumnoLayout.cshtml";
}

<h2>VerRespuesta</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        @Model.Clase.Nombre - @Model.Tema.Nombre Hasta @Model.FechaDisponibleHasta
    </div>
    <div class="panel-body">
        @Model.Nro. @Model.Pregunta1
        @if (Model.IdResultadoEvaluacion == null)
        {
            if (Model.CurrentDate > Model.FechaDisponibleHasta)
            {
                <p>Plazo vencido @Model.FechaDisponibleDesde - @Model.FechaDisponibleHasta</p>
            }
            else
            {
                <a href="/Alumno/ResponderPregunta/@Model.IdPregunta" class="btn btn-xs btn-link">Responder</a>
            }
        }
        else if (Model.IdResultadoEvaluacion >= 0)
        {
            <a href="/Alumno/VerPregunta/@Model.IdPregunta" class="btn btn-xs btn-link">Ver</a>

            if (Model.IdResultadoEvaluacion == 0)
            {
                <p>Corrección Pendiente</p>
            }
            else
            {
                <p class="@Model.ResultadoEvaluacion.Resultado">@Model.ResultadoEvaluacion.Resultado | @Model.Puntos | @Model.MejorRespuesta</p>
            }
        }

    </div>
</div>